@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  /* font-size: 62.5%; */
}

body {
  margin: 0;
  background-color: #f9fafb;
  font-size: 1rem;
  font-family: 'Open Sans', 'sans-serif';
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button:hover,
a:hover {
  opacity: 0.75;
}

/* Map container */
.map-container {
  height: 100%;
  width: 100%;
}

/* Loader */
.loader {
  margin: 25vh auto 0;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #272e71;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
